body {
  background-color :rgb(255, 255, 255);
}

.myheader {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(106, 145, 243);
  color: rgb(245, 116, 65);
  font-style: inherit;
  font-size: 32px;
}

table {
  text-align: left;
  outline: auto;
  outline-color: black;
  size:35cm;
}

p {
  color: rgb(0, 0, 0);
}

.para {
  font-size: 37px;
  font-style: unset;
  text-align: left;
}

.pre {
  color:gold;
  font-style: italic;
  font-size: large;
}

.nor {
  color: rgb(42, 132, 132);
  font-size: large;
}