/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/
body {
  background-color: black;
}

.myheader {
  top: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgb(106, 145, 243);
  color: rgb(245, 116, 65);
  font-style: inherit;
  font-size: 32px;
}

p {
  color: rgb(57, 154, 239);
}

.right-img {
  position: relative;
  width: 900px;
  height: 600px;
  top: 300px;
}

.para {
  font-size: 37px;
  font-style: unset;
  text-align: left;

}
