/* Created by: Mr. Coxall
* Created on: Sep 2020
* This file contains the CSS for index.html
*/
.myheader {
  background-color: black;
  color: green;
  font-style: inherit;
  font-size: 52px;
}
p {
  color: rgb(57, 154, 239);
  font-size: small;
  text-align: right;
}
.para {
  transform: rotateX('60');
}
